* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: "Red Hat Text", sans-serif;
  background-color: #fcf8f6;
}

:root {
  --title-color: #260f08;
  --price-color: #c73b0f;
  --dessert-color: #87635a;
  --border-button: #ad8a85;
  --default-button-color: #f5eeec;
  --background: #ffffff;
  --dessert-title: 40px;
  --dessert-font-button-dessert-mobile: 14px;
  --dessert-font-price-class-dessert-mobile: 16px;
  --dessert-font-xl: 40px;
  --dessert-font-l: 24px;
  --dessert-font-m: 16px;
  --dessert-font-s: 14px;
  --dessert-font-Bold: 700;
  --dessert-font-semiBold: 600;
  --dessert-font-Regular: 400;
}

@media screen and (width>1024px) {
  .container-flex {
    display: flex;
    padding-bottom: 107px;
  }
}

.title-desserts {
  color: var(--title-color);
  font-size: var(--dessert-font-xl);
  font-weight: var(--dessert-font-Bold);
  margin: 0;
  padding-top: 144px;
  padding-left: 14px;
}

@media screen and (width>768px) {
  .title-desserts {
    padding-top: 105px;
    padding-left: 40px;
  }
}
@media screen and (width>1024px) {
  .title-desserts {
    padding-top: 146px;
    padding-left: 108px;
  }
}

.options-filter {
  display: flex;
  padding-left: 14px;
  padding-top: 32px;
}

@media screen and (width>768px) {
  .options-filter {
    padding-left: 40px;
  }
}
@media screen and (width>1024px) {
  .options-filter {
    padding-left: 112px;
  }
}

.filter-desserts {
  width: 76px;
  height: 34px;
  border-radius: 20px;
  margin-right: 18px;
  background-color: inherit;
  font-size: var(--dessert-font-s);
  font-weight: var(--dessert-font-semiBold);
  color: var(--title-color);
  border: solid var(--border-button);
  cursor: pointer;
}

.grid-desserts {
  padding: 26px 24px 0;
  display: grid;
}

@media screen and (width>768px) {
  .grid-desserts {
    padding: 0;
    padding-top: 32px;
    padding-left: 40px;
    padding-right: 40px;
    grid-template-columns: repeat(3, 212px);
    gap: 32px 24px;
  }
}
@media screen and (width>1024px) {
  .grid-desserts {
    padding: 0;
    padding-top: 42px;
    padding-left: 112px;
    padding-right: 32px;
    grid-template-columns: repeat(3, 240px);
    gap: 32px 24px;
  }
}

.desserts-flex-column {
  display: flex;
  flex-direction: column;
}

.desserts-img {
  border-radius: 10px;
}

.margin-img {
  margin-top: 24px;
}

@media screen and (width>768px) {
  .margin-img {
    margin: 0;
  }
}

.cart-container-show {
  position: relative;
  width: 160px;
  height: 44px;
  background-color: var(--background);
  border: solid var(--border-button);
  font-size: var(--dessert-font-s);
  font-weight: var(--dessert-font-semiBold);
  border-radius: 20px;
  left: 83px;
  bottom: 22px;
  cursor: pointer;
}

.cart-container-hidden {
  display: none;
}

@media screen and (width>768px) {
  .cart-container-show {
    left: 26px;
  }
}
@media screen and (width>1024px) {
  .cart-container-show {
    left: 45px;
  }
}

.cart-container-show::after {
  content: "";
  position: absolute;
  background-image: url(../assets/img/icon-add-to-cart.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 10px;
}

@media screen and (width>1024px) {
  .cart-container::after {
    left: 18px;
    top: 10px;
  }
}

.description-desserts-margin {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

@media screen and (width>1024px) {
}

.description-desserts {
  padding-bottom: 4px;
}

.dessert-font-color {
  font-weight: var(--dessert-font-Regular);
  font-size: var(--dessert-font-s);
  color: var(--dessert-color);
}

.dessert-class {
  font-weight: var(--dessert-font-semiBold);
  font-size: var(--dessert-font-m);
  color: var(--title-color);
}

.dessert-price {
  font-weight: var(--dessert-font-semiBold);
  font-size: var(--dessert-font-m);
  color: var(--price-color);
  padding-bottom: 0;
}

@media screen and (width>1024px) {
}

/* cart shop */

.empty-cart {
  display: flex;
  flex-direction: column;
  padding: 32px 24px 0;
}

@media screen and (width>768px) {
  .empty-cart {
    padding: 79px 50px 0;
  }
}
@media screen and (width>1024px) {
  .empty-cart {
    padding: 0;
    padding-top: 42px;
  }
}

.empty-title {
  font-weight: var(--dessert-font-Bold);
  font-size: var(--dessert-font-l);
  color: var(--price-color);
  margin: 0;
  padding: 24px 0 0 24px;
}

.empty-img {
  padding: 40px 75px 16px 75px;
}

@media screen and (width>768px) {
  .empty-img {
    padding: 16px 256px 16px 256px;
  }
}
@media screen and (width>1024px) {
  .empty-img {
    padding: 16px 104px 16px 104px;
  }
}

.empty-text {
  font-weight: var(--dessert-font-semiBold);
  font-size: var(--dessert-font-s);
  text-align: center;
  color: #87635a;
  padding-bottom: 40px;
}

@media screen and (width>768px) {
}
@media screen and (width>1024px) {
}

/* change active buttons */

/* 
.empty-cart{
  display: none;
} */

.cart-add-show {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--price-color);
  color: var(--background);
  font-size: var(--dessert-font-s);
  font-weight: var(--dessert-font-semiBold);
  width: 160px;
  height: 44px;
  border-radius: 20px;
  bottom: 20px;
  left: 84px;
}

.cart-add-hidden {
  display: none;
}

.cart-decrement {
  background-color: var(--price-color);
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 100px;
  padding: 3px;
  filter: brightness(100);
}

/* @media (hover: hover) {
  .cart-decrement {
    filter: brightness(100);
  }
} */

.cart-increment {
  background-color: var(--price-color);
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 100px;
  padding: 3px;
}

/* @media (hover: hover) {
  .cart-increment {
    background-color: #ffffff;
  }
} */

/* 
@media screen and (width>768px){}
@media screen and (width>1024px){}
*/
